.planning_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  /* width: 100vw; */
}

.planning_title {
  text-align: center;
}

.planning_container > div {
  width: 25.2rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planning_container > div > input {
  width: 25rem;
  height: 2.5rem;
  font-size: 2rem;
}

.list_items_container {
  background-color: white;
  font-size: 2rem;
  height: 3rem;
  display: grid;
  grid-template-columns: 3rem 1fr 2rem;
  align-items: center;
  position: relative;
}

.list_items_container > p {
  height: 3rem;
  display: flex;
  align-items: center;
}

.item_complete_mark {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  border: 1px solid lavender;

  
}

.list_items_container:hover {
  background-color: lightskyblue;
}

.control_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

input[type="checkbox"] {
  margin: 1rem;
}
.button {
  height: 2rem;
  width: 5rem;
  /* border-style: none; */
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: aqua;
}

@media screen and (max-width: 400px) {
  .planning_container > div {
    align-items: center;
    width: 22rem;
  }

  .planning_container > div > input {
    width: 22rem;
    font-size: 1.5rem;
  }

  .list_items_container {
    height: 3rem;
    width: 100%;
    grid-template-columns: 3rem 1fr 2rem;
  }

  .list_items_container > label {
    margin: auto;
  }

  .control_container {
    justify-content: space-between;
  }
}