nav > button {
  background-color: lightcoral;
  height: 4rem;
  width: 5rem;
  /* background-color: lightskyblue; */
  border-radius: 5px;
  border: 1px solid lightskyblue;
  cursor: pointer;
}

nav > button:hover {
  background-color: lightskyblue;
}


@media only screen and (max-width: 600px) {
  nav > button {
    height: 50px;
  }
}
